{% extends "management/administrator/layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lost NID Report Details</title>
  </head>

  <body>
    {% block page_content %}

    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Lost NID Report Details</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'adm_dashboard' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'adm_lostNID_report' %}"
                  >Lost NID Report List</a
                >
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Lost NID Report Details
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <div class="min-height-200px">
      <div class="card-box mb-30">
        <div class="pd-20">
          <h4 class="h4">Lost NID Report Detail</h4>
          {% if report.status == "Waiting" %}
          <span class="float-right">
            To reply to the citizen application, click :
            <div class="dropdown d-inline-block">
              <a
                class="nav-link dropdown-toggle text-dark btn btn btn-light btn-rounded"
                href="#"
                id="moreDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-more"></i> More Action
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="moreDropdown"
              >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#approve_application"
                >
                  <i class="fa fa-check text-success"></i> Approve Application
                </a>
                <hr class="m-0" />
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#reject_application"
                >
                  <i class="fa fa-exclamation-triangle text-warning"></i>
                  Reject Application
                </a>
              </div>
            </div>
          </span>
          {% endif %}
        </div>
        <div class="card-body pb-20">
          <div class="row px-4">
            <h6 class="">Citizen Information</h6>
            <hr />
            {% if report.citizen.picture %}
            <div class="col-lg-12 mb-4">
              <img
                class="profile-user-img img-responsive img-circle"
                src="{{report.citizen.picture.url}}"
                width="140px"
                alt="{{report.citizen.first_name}} image"
              />
            </div>
            {% endif %}
            <div class="col-lg-12 mb-4">
              <span class="">
                Full names:
                <h4 class="title">
                  <a
                    class="text-info"
                    href="{% url 'adm_citizenDetails' report.citizen.id %}"
                  >
                    {{report.citizen.first_name}} {{report.citizen.last_name}}
                  </a>
                </h4>
              </span>
            </div>
            <div class="col-lg-12 mb-1">
              <div class="row">
                <div class="col-sm-12 col-xl-6 mb-1">
                  <p>
                    Contact Info:
                    <span class="h5">{{ report.contact_info }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-xl-6 mb-1">
                  <p>
                    Email Address: <span class="h5">{{ report.email }}</span>
                  </p>
                </div>
              </div>
            </div>
            <h6 class="">Report Information</h6>
            <hr />
            <div class="col-sm-12 col-xl-12 mb-1">
              <p>
                NID Card No.:
                <span class="h5">{{ report.card_number }}</span>
              </p>
            </div>
            <div class="col-sm-12 col-xl-12 mb-1">
              <p>
                When lost:
                <span class="h5">{{report.date_lost|date:'d/m/Y'}}</span>
              </p>
            </div>
            <div class="col-sm-12 col-xl-12 mb-1">
              <p>
                Status:
                <span class="h5">{{report.status}}</span>
              </p>
            </div>
            <div class="col-lg-12 mb-1">
              <p>Description:</p>
              <div class="form-group">
                <textarea
                  class="form-control bg-white border-0"
                  rows="10"
                  placeholder="Description ..."
                  name="description"
                  disabled
                >{{report.description|linebreaksbr }}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    {% if report.status == "Waiting" %}
    <div
      class="modal fade"
      id="approve_application"
      tabindex="-1"
      role="dialog"
      aria-labelledby="approve_applicationModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="approve_applicationModalTitle">
              <i class="fa fa-exclamation-triangle text-success"></i> CONFIRM
              APPLICATION APPROVAL
            </h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post" role="form">
            {% csrf_token %}
            <div class="modal-body py-5">
              <p class="h6 text-center">
                Are you sure you want to approve acceptance of this Lost NID Card Report?
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-sm btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="Report_approved"
                class="btn btn-sm btn-outline-success btn-rounded"
              >
                Yes, Approve
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="reject_application"
      tabindex="-1"
      role="dialog"
      aria-labelledby="reject_applicationModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="reject_applicationModalTitle">
              <i class="fa fa-exclamation-triangle text-warning"></i> CONFIRM
              APPLICATION REJECTION
            </h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post" role="form">
            {% csrf_token %}
            <div class="modal-body py-5">
              <p class="h6 text-center">
                Are you sure you want to reject this Lost NID Card Report?
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-sm btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="Report_rejected"
                class="btn btn-sm btn-outline-danger btn-rounded"
              >
                Yes, Reject
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}


    {% endblock %}
  </body>
</html>
