{% extends "management/administrator/layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NID Application Details</title>
  </head>

  <body>
    {% block page_content %}

    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>NID Application Details</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'adm_dashboard' %}"> Dashboard </a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'adm_nidApplications_list' %}">
                  NID Application List
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                NID Application Details
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <div class="min-height-200px">
      <div class="card-box mb-30">
        <div class="pd-20">
          <h4 class="h4">NID Application Details</h4>
          {% if data.status == "Waiting" %}
          <span class="float-right">
            To reply to the citizen application, click :
            <div class="dropdown d-inline-block">
              <a
                class="nav-link dropdown-toggle text-dark btn btn btn-light btn-rounded"
                href="#"
                id="moreDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-more"></i> More Action
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="moreDropdown"
              >
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#approve_application"
                >
                  <i class="fa fa-check text-success"></i> Approve Application
                </a>
                <hr class="m-0" />
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#reject_application"
                >
                  <i class="fa fa-exclamation-triangle text-warning"></i>
                  Reject Application
                </a>
              </div>
            </div>
          </span>
          {% endif %}
        </div>
        <div class="card-body pb-20">
          <div class="row px-4">
            <div class="col-12 mb-1">
              {% if data.picture %}
              <img
                class="profile-user-img img-responsive img-circle"
                src="{{data.picture.url}}"
                width="140px"
                alt="{{data.citizen.first_name}} image"
              />
              <a
                href="{{data.picture.url}}"
                download
                class="btn btn-light btn-rounded"
              >
                <i class="fa fa-download text-secondary"></i> Download Image
              </a>
              {% else %}
              <img
                class="profile-user-img img-responsive img-circle"
                src="{% static 'staff/vendors/images/anonymous.png' %}"
                width="140px"
                alt="{{data.citizen.first_name}} image"
              />
              {% endif %}
            </div>
            <div class="col-lg-12 mb-4">
              <span class="">
                Full names:
                <h4 class="title">
                  <a
                    class="text-info"
                    href="{% url 'adm_citizenDetails' data.citizen.id %}"
                  >
                    {{data.citizen.first_name}} {{data.citizen.last_name}}
                  </a>
                </h4>
              </span>
            </div>
            <div class="col-sm-12 col-xl-12 mb-1">
              <p>Gender: <span class="h5">{{ data.citizen.gender }}</span></p>
            </div>
            <div class="col-sm-12 col-xl-12 mb-1">
              <p>
                Birth Date:
                <span class="h5">{{data.citizen.birthdate|date:'d/m/Y'}}</span>
              </p>
            </div>
            <div class="col-sm-12 col-xl-6 mb-1">
              <p>
                Birth Place:
                <span class="h5">{{data.citizen.birth_place}}</span>
              </p>
            </div>
            <div class="col-sm-12 col-xl-6 mb-1">
              <p>
                Volume No.:
                <span class="h5">#{{data.citizen.volume_number}}</span>
              </p>
            </div>
            <div class="col-sm-12 col-xl-12 mb-1">
              <p>
                NID Card No.:
                <span class="h5">{{ data.citizen.nid_number }}</span>
              </p>
            </div>
            <div class="col-lg-12 my-4">
              <h6 class="">More Information</h6>
              <hr />
              <p class="h6 mb-1">{{ data.parent }}</p>
              <div class="row">
                <div class="col-sm-12 col-xl-6 mb-1">
                  <p>
                    Resident address:
                    <span class="h5">{{ data.resident_address }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-xl-6 mb-1">
                  <p>Email: <span class="h5">{{ data.email }}</span></p>
                </div>
                <div class="col-sm-12 col-xl-12 mb-1">
                  <p>
                    Status:
                    <span class="h5">{{data.status}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          {% if data.citizen.nid_number %}
          <div class="row">
            <div class="container mt-5">
              <h1 class="text-center">National Identity Card of Burundi</h1>
              <!-- Button to Show Card -->
              <button class="btn btn-primary mt-3" onclick="showCard()">
                Show Card
              </button>

              <!-- Front Side of the NID Card -->
              <div id="frontSide" class="card mt-3" style="display: none">
                <div class="card-header">Front Side</div>
                <div class="card-body">
                  <!-- Citizen Image -->
                  <div class="text-center">
                    {% if data.citizen.picture %}
                    <img
                      src="{{ data.citizen.picture.url }}"
                      alt="Citizen Image"
                      width="150"
                    />
                    {% else %}
                    <img src="" alt="Citizen Image" width="150" />
                    {% endif %}
                  </div>
                  <!-- Citizen Information -->
                  <p>
                    Name: {{data.citizen.first_name}} {{data.citizen.last_name}}
                  </p>
                  <p>NID Number: {{data.citizen.nid_number}}</p>
                  <p>Birthdate: {{data.citizen.birthdate}}</p>
                  <p>Gender: {{data.citizen.gender}}</p>
                  <p>
                    Birth Place:
                    {{data.citizen.birth_place.commune.commune_name}}
                  </p>
                </div>
              </div>

              <!-- Back Side of the NID Card (QR Code) -->
              <div id="backSide" class="card mt-3" style="display: none">
                <div class="card-header">Back Side (QR Code)</div>
                <div class="card-body">
                  <!-- QR Code -->
                  <div class="text-center">
                    <img
                      src="{{data.citizen.nid_card.qr_code_image.url}}"
                      alt="QR Code"
                      width="150"
                    />
                  </div>
                </div>
              </div>

              <!-- Button to Generate and Print Card -->
              <button
                class="btn btn-success mt-3"
                onclick="generateAndPrintCard()"
              >
                Generate and Print Card
              </button>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if data.status == "Waiting" %}
    <div
      class="modal fade"
      id="approve_application"
      tabindex="-1"
      role="dialog"
      aria-labelledby="approve_applicationModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="approve_applicationModalTitle">
              <i class="fa fa-exclamation-triangle text-success"></i> CONFIRM
              APPLICATION APPROVAL
            </h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post" role="form">
            {% csrf_token %}
            <div class="modal-body py-5">
              <p class="h6 text-center">
                Are you sure you want to approve acceptance of this application?
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-sm btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="approve_application"
                class="btn btn-sm btn-outline-success btn-rounded"
              >
                Yes, Approve
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="reject_application"
      tabindex="-1"
      role="dialog"
      aria-labelledby="reject_applicationModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="reject_applicationModalTitle">
              <i class="fa fa-exclamation-triangle text-warning"></i> CONFIRM
              APPLICATION REJECTION
            </h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post" role="form">
            {% csrf_token %}
            <div class="modal-body py-5">
              <p class="h6 text-center">
                Are you sure you want to reject this application?
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-sm btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="reject_application"
                class="btn btn-sm btn-outline-danger btn-rounded"
              >
                Yes, Reject
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}

    <script>
      // JavaScript functions to toggle card sides and generate/print the card
      function showCard() {
        const frontSide = document.getElementById("frontSide");
        const backSide = document.getElementById("backSide");
        frontSide.style.display = "block";
        backSide.style.display = "block";
      }

      function generateAndPrintCard() {
        // You can implement the logic to generate and print the card here
        // For printing, you can use a library like jsPDF or a dedicated printing solution
      }
    </script>

    <!-- end content-->

    {% endblock %}
  </body>
</html>
