{% extends "management/administrator/layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NID Application Details</title>
  </head>

  <body>
    {% block page_content %}

    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>NID Application Details</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'adm_dashboard' %}"> Dashboard </a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'adm_nidApplications_list' %}">
                  NID Application List
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                NID Application Details
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    <div class="min-height-200px">
      <div class="card-box mb-30">
        <div class="pd-20">
          <h4 class="h4">NID Application Details</h4>
          {% if data.status == "Waiting" %}
          <span class="float-right">
            To reply to the citizen application, click :
            <div class="dropdown d-inline-block">
              <a
                class="nav-link dropdown-toggle text-dark btn btn-sm btn-light btn-rounded"
                href="#"
                id="moreDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-more"></i> More Action
              </a>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="moreDropdown"
              >
                {% if data.citizen.nid_number and not data.resident_address  %}
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#requirements"
                >
                  <i class="fa fa-file text-secondary"></i> Complete
                  Requirements
                </a>
                {% else %}
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#approve_application"
                >
                  <i class="fa fa-check text-success"></i> Approve Application
                </a>
                <hr class="m-0" />
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#reject_application"
                >
                  <i class="fa fa-exclamation-triangle text-warning"></i>
                  Reject Application
                </a>
                {% endif %}
              </div>
            </div>
          </span>
          {% endif %}
        </div>
        <div class="card-body pb-20">
          <div class="row px-4">
            <div class="col-12 mb-1">
              {% if data.picture %}
              <img
                class="profile-user-img img-responsive img-circle"
                src="{{data.picture.url}}"
                width="140px"
                alt="{{data.citizen.first_name}} image"
              />
              {% else %}
              <img
                class="profile-user-img img-responsive img-circle"
                src="{% static 'staff/vendors/images/anonymous.png' %}"
                width="140px"
                alt="{{data.citizen.first_name}} image"
              />
              {% endif %}
            </div>
            <div class="col-lg-12 mb-4">
              <span class="">
                Full names:
                <h4 class="title">
                  <a
                    class="text-info"
                    href="{% url 'adm_citizenDetails' data.citizen.id %}"
                  >
                    {{data.citizen.first_name}} {{data.citizen.last_name}}
                  </a>
                </h4>
              </span>
            </div>
            <div class="col-sm-12 col-xl-12 mb-1">
              <p>Gender: <span class="h5">{{ data.citizen.gender }}</span></p>
            </div>
            <div class="col-sm-12 col-xl-12 mb-1">
              <p>
                Birth Date:
                <span class="h5">{{data.citizen.birthdate|date:'d/m/Y'}}</span>
              </p>
            </div>
            <div class="col-sm-12 col-xl-6 mb-1">
              <p>
                Birth Place:
                <span class="h5">{{data.citizen.birth_place}}</span>
              </p>
            </div>
            <div class="col-sm-12 col-xl-6 mb-1">
              <p>
                Volume No.:
                <span class="h5">#{{data.citizen.volume_number}}</span>
              </p>
            </div>
            <div class="col-sm-12 col-xl-12 mb-1">
              <p>
                NID Card No.:
                <span class="h5">{{ data.citizen.nid_number }}</span>
              </p>
              {% if data.citizen.nid_number and data.status == "Waiting" %}
              <span class="text-primary font-weight-bold">
                <i class="fa fa-exclamation-triangle text-warning"></i> Applied
                for new NID Card
              </span>
              {% endif %}
            </div>
            <div class="col-lg-12 my-4">
              <h6 class="">More Information</h6>
              <hr />
              <p class="h6 mb-1">{{ data.parent }}</p>
              <div class="row">
                <div class="col-sm-12 col-xl-6 mb-1">
                  <p>
                    Resident address:
                    <span class="h5">{{ data.resident_address }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-xl-6 mb-1">
                  <p>Email: <span class="h5">{{ data.email }}</span></p>
                </div>
                <div class="col-sm-12 col-xl-12 mb-1">
                  <p>
                    Status:
                    <span class="h5">{{data.status}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if not data.status == "Waiting" %}
      <!-- card content-->
      {% if data.citizen.nid_number and data.resident_address %}
      <div class="card-box mb-30">
        <div class="card-body">
          <button
            class="btn btn-outline-info btn-sm float-right"
            onclick="showCard()"
          >
            <i class="fa fa-folder-open"></i>
            Show Card
          </button>
          <h5 class="text-left">National Identity Card of Burundi</h5>
          <hr />
          <div class="row mt-2">
            <div class="col-lg-6">
              <!-- Front Side of the NID Card -->
              <div id="frontSide" style="display: none;">
                <div class="card">
                  <div class="card-header text-center font-weight-bold">
                    National Identity Card of Burundi
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <!-- Citizen Image -->
                      <div class="col-4">
                        {% if data.citizen.picture %}
                        <img
                          src="{{ data.citizen.picture.url }}"
                          alt="Citizen Image"
                          style="width:150px; height:150px"
                        />
                        {% else %}
                        <img src="" alt="Citizen Image" width="150" />
                        {% endif %}
                      </div>
                      <div class="col-8">
                        <!-- Citizen Information -->
                        <p class="text-dark m-0">
                          Name:
                          <span class="font-weight-bold">
                            {{data.citizen.first_name}}
                            {{data.citizen.last_name}}
                          </span>
                        </p>
                        <p class="text-dark m-0">
                          NID Number:
                          <span class="font-weight-bold">
                            {{data.citizen.nid_number}}
                          </span>
                        </p>
                        <p class="text-dark m-0">
                          Birthdate:
                          <span class="font-weight-bold">
                            {{data.citizen.birthdate|date:'d/m/Y'}}
                          </span>
                        </p>
                        <p class="text-dark m-0">
                          Gender:
                          <span class="font-weight-bold">
                            {{data.citizen.gender}}
                          </span>
                        </p>
                        <p class="text-dark m-0">
                          Place of Issue:
                          <span class="font-weight-bold">
                            {{data.resident_address}}, Burundi
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- Back Side of the NID Card (QR Code) -->
              <div id="backSide" style="display: none;">
                <div class="card">
                  <div class="card-header text-center font-weight-bold">
                    National Identity Card of Burundi
                  </div>
                  <div class="card-body">
                    <!-- QR Code -->
                    <div class="text-center">
                      <img
                        src="{{data.citizen.nid_card.qr_code_image.url}}"
                        alt="QR Code"
                        width="150px"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Button to Generate and Print Card -->
          <div id="printBtn" style="display: none">
            <button
              class="btn btn-outline-success btn mt-5"
              onclick="generateAndPrintCard()"
            >
              <i class="fa fa-save"></i>
              Generate Card
            </button>
          </div>
        </div>
      </div>
      {% endif %}
      <!-- end content-->
      {% endif %}
    </div>

    {% if data.status == "Waiting" %}
    <div
      class="modal fade"
      id="approve_application"
      tabindex="-1"
      role="dialog"
      aria-labelledby="approve_applicationModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="approve_applicationModalTitle">
              <i class="fa fa-exclamation-triangle text-success"></i> CONFIRM
              APPLICATION APPROVAL
            </h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post" role="form">
            {% csrf_token %}
            <div class="modal-body py-5">
              <p class="h6 text-center">
                Are you sure you want to approve acceptance of this application?
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-sm btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="approve_application"
                class="btn btn-sm btn-outline-success btn-rounded"
              >
                Yes, Approve
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="reject_application"
      tabindex="-1"
      role="dialog"
      aria-labelledby="reject_applicationModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="reject_applicationModalTitle">
              <i class="fa fa-exclamation-triangle text-warning"></i> CONFIRM
              APPLICATION REJECTION
            </h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post" role="form">
            {% csrf_token %}
            <div class="modal-body py-5">
              <p class="h6 text-center">
                Are you sure you want to reject this application?
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-sm btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="reject_application"
                class="btn btn-sm btn-outline-danger btn-rounded"
              >
                Yes, Reject
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    
    <div
      class="modal fade"
      id="requirements"
      tabindex="-1"
      role="dialog"
      aria-labelledby="requirementsModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="requirementsModalTitle">
              <i class="fa fa-file text-primary"></i> COMPLETE THE REQUIREMENT FOR APPLICATION
            </h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <form
            action=""
            method="post"
            role="form"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="card-body">
              <div class="form-group mb-3">
                <label for="picture">Upload a picture</label>
                <input
                  id="picture"
                  type="file"
                  class="form-control"
                  placeholder="upload picture"
                  name="picture"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="resident_address">
                  Place of Issue
                </label>
                <select
                  class="form-control"
                  name="resident_address"
                  id="resident_address"
                  required
                >
                  <option value="">Select Place of Issue</option>
                  {% for commune in communes %}
                  <option value="{{commune.id}}">
                    {{commune.commune_name}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-sm btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="requirements"
                class="btn btn-sm btn-outline-success"
              >
               Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script>
      // JavaScript functions to toggle card sides and generate/print the card
      function showCard() {
        const frontSide = document.getElementById("frontSide");
        const backSide = document.getElementById("backSide");
        const printBtn = document.getElementById("printBtn");
        frontSide.style.display = "block";
        backSide.style.display = "block";
        printBtn.style.display = "block";
      }

      function generateAndPrintCard() {
        // Get the front side of the card element
        const frontSide = document.getElementById("frontSide");
        // Get the back side of the card element
        const backSide = document.getElementById("backSide");

        // Create a new image element from the front side content
        html2canvas(frontSide).then(function (canvas) {
          // Create a new image element from the captured canvas
          const front_img = new Image();
          front_img.src = canvas.toDataURL("image/png");

          // Trigger a download of the front image
          const frontLink = document.createElement("a");
          frontLink.href = front_img.src;
          frontLink.download = "{{data.citizen.nid_number}}_front_card.png";
          frontLink.click();
        });

        // Create a new image element from the back side content
        html2canvas(backSide).then(function (canvas) {
          // Create a new image element from the captured canvas
          const back_img = new Image();
          back_img.src = canvas.toDataURL("image/png");

          // Trigger a download of the back image
          const backLink = document.createElement("a");
          backLink.href = back_img.src;
          backLink.download = "{{data.citizen.nid_number}}_back_card.png";
          backLink.click();
        });
      }
    </script>

    <!-- end content-->

    {% endblock %}
  </body>
</html>
