{% extends "management/administrator/layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Publication Details</title>
  </head>

  <body>
    {% block page_content %}

    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Publication Details</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'adm_dashboard' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'adm_communes' %}">Publication List</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Publication Details
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    
    <div class="min-height-200px">
      <div class="card-box mb-30">
        <div class="pd-20">
          <h4 class="h4">Publication Details</h4>
        </div>
        <div class="card-body pb-20">
            <button
              type="button"
              class="btn btn-light btn-rounded float-right"
              data-toggle="modal"
              data-target="#delete_confirmation"
            >
              <i class="fa fa-trash text-danger"></i> Delete
            </button>
            <div class="row">
              <div class="col-lg-12 mb-3">
                <span class="font-weight-bold">Title:</span>
                <h4 class="title">{{ commune.commune_name }}</h4>
              </div>
              <div class="col-lg-12 mb-3">
                <span class="font-weight-bold">File:</span>
                <h5 class="subtitle">{{ commune.province.province_name }}</h5>
              </div>
              <hr />
              <form action="" method="post" class="col-lg-12 mb-3">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="form-group mb-0">
                    <label class="col-form-label">Publication Title</label>
                    <input
                      type="text"
                      class="form-control"
                      name="title"
                      placeholder="Title ..."
                      value="{{province.province_name}}"
                      required
                    />
                  </div>
                  <div class="form-group mb-0">
                    <label class="col-form-label">To update the existing Publication File, you have to upload a new one.</label>
                    <input
                      id="idd_file"
                      type="file"
                      class="form-control"
                      placeholder="upload Documet"
                      name="idd_file"
                      accept=".pdf,.docx,.doc,.xls,.xlsx,.pptx,.ppt"
                      required
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    name="update_publication"
                    class="btn btn-success"
                  >
                    <i class="fa fa-save"></i>
                    Save Changes
                  </button>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="delete_confirmation"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalTitle">
              <i class="fa fa-trash text-danger"></i> DELETE COMMUNE
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <h6 align="center">
                Are you sure you want to delete <br />
                commune "{{commune.commune_name}}" ?
              </h6>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                name="delete_commune"
                class="btn btn-danger"
              >
                Yes, Delete
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
