<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>BNIA - {{ title }}</title>
    {% else %}
    <title>BNIA</title>
    {% endif%}
    
    <!-- favicon -->
    <link rel="icon" type="image/jpg" href="{% static 'front/images/nation_logo.png' %}" />

    <!-- Google Fonts
		============================================ -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'staff/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/owl.theme.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/owl.transitions.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/meanmenu/meanmenu.min.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/scrollbar/jquery.mCustomScrollbar.min.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/jvectormap/jquery-jvectormap-2.0.3.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/notika-custom-icon.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/wave/waves.min.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/style.css' %}" />
    <link rel="stylesheet" href="{% static 'staff/css/responsive.css' %}" />
    <script src="{% static 'staff/js/vendor/modernizr-2.8.3.min.js' %}"></script>
  </head>

  <body>
    

    {% block main_content %} {% endblock %}


    <!-- ======= Footer ======= -->
    {% include 'management/footer.html' %}
    <!-- End Footer -->



		<!-- ============================================ -->
    <script src="{% static 'staff/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'staff/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'staff/js/wow.min.js' %}"></script>
    <script src="{% static 'staff/js/jquery-price-slider.js' %}"></script>
    <script src="{% static 'staff/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'staff/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'staff/js/meanmenu/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'staff/js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'staff/js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'staff/js/counterup/counterup-active.js' %}"></script>
    <script src="{% static 'staff/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'staff/js/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'staff/js/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'staff/js/jvectormap/jvectormap-active.js' %}"></script>
    <script src="{% static 'staff/js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'staff/js/sparkline/sparkline-active.js' %}"></script>
    <script src="{% static 'staff/js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'staff/js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'staff/js/flot/curvedLines.js' %}"></script>
    <script src="{% static 'staff/js/flot/flot-active.js' %}"></script>
    <script src="{% static 'staff/js/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'staff/js/knob/jquery.appear.js' %}"></script>
    <script src="{% static 'staff/js/knob/knob-active.js' %}"></script>
    <script src="{% static 'staff/js/wave/waves.min.js' %}"></script>
    <script src="{% static 'staff/js/wave/wave-active.js' %}"></script>
    <script src="{% static 'staff/js/todo/jquery.todo.js' %}"></script>
    <script src="{% static 'staff/js/plugins.js' %}"></script>
    <script src="{% static 'staff/js/chat/moment.min.js' %}"></script>
    <script src="{% static 'staff/js/chat/jquery.chat.js' %}"></script>
    <script src="{% static 'staff/js/main.js' %}"></script>
  </body>
</html>
