{% extends "management/commune/layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registered NID List</title>
  </head>

  <body>
    {% block page_content %}

    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Registered NID List</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'chief_dashboard' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Registered NID List
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="min-height-200px">
      <div class="card-box mb-30">
        <div class="pd-20">
          <h4 class="h4">Registered NID List</h4>
        </div>
        <div class="card-body pb-20">
          <table class="table data-table-export hover nowrap">
            <thead>
              <tr>
                <th>#</th>
                <th class="table-plus datatable-nosort">Citizen Name</th>
                <th>NID Number</th>
                <th>Place of Issue</th>
                <th>Date Produced</th>
                <th>Recieved</th>
                <th>Date Taken</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              {% for data in registered_nid %}
              <tr>
                <td>{{ forloop.counter }}.</td>
                <td class="table-plus">
                  {{data.citizen.first_name}} {{data.citizen.last_name}}
                </td>
                <td>{{data.card_number}}</td>
                <td>{{data.placeofissue}}</td>
                <td>{{data.created_date|date:'d/m/Y'}}</td>
                <td>{{data.is_taken}}</td>
                <td>{{data.taken_date|date:'d/m/Y'}}</td>
                <td>
                  <a
                    class="text-info"
                    href="{% url 'chief_NID_recievedConfirm' data.id %}"
                  >
                    Confirm Recieved
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
