{% extends "management/commune/layout.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Details</title>
  </head>

  <body>
    {% block page_content %}

    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>Service Details</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'chief_dashboard' %}">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'chief_services' %}">Service List</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Service Details
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    
    <div class="min-height-200px">
      <div class="card-box mb-30">
        <div class="pd-20">
          <h4 class="h4">Services List</h4>
        </div>
        <div class="card-body pb-20">
            <div class="row">
              <div class="col-lg-12 mb-3">
                <span class="font-weight-bold">Service Name:</span>
                <h4 class="title">{{ service.service_name }}</h4>
              </div>
              <div class="col-lg-12 mb-3">
                <span class="font-weight-bold">Requirement:</span>
                <p class="content text-lg">{{ service.requirements|linebreaksbr }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
