{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Details</title>
  </head>

  <body>
    {% block main_content%}

    <section
      class="hero-wrap hero-wrap-2"
      style="background-image: url('{% static 'front/images/bg_1.jpg' %}')"
      data-stellar-background-ratio="0.5"
    >
      <div class="overlay"></div>
      <div class="container">
        <div
          class="row no-gutters slider-text align-items-end justify-content-center"
        >
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">BNIA Services</h1>
            <p class="breadcrumbs">
              <span class="mr-2">
                <a href="{% url 'home' %}">
                  Home <i class="ion-ios-arrow-forward"></i
                ></a>
              </span>
              <span class="mr-2">
                <a href="{% url 'service' %}">
                  Services <i class="ion-ios-arrow-forward"></i
                ></a>
              </span>
              <span>
                {{ service.service_name }} <i class="ion-ios-arrow-forward"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-10 heading-sectionftco-animate">
            <h3 class="mb-4">{{ service.service_name }}</h3>
            <p>{{ service.requirements|linebreaksbr }}</p>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
  </body>
</html>
