{% load static %}
<div class="header-top-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="logo-area">
        <h3 style="margin:0">
          <a href="{% url 'adm_dashboard' %}" style="margin:0; color:white">
            <img width="50px" src="{% static 'front/images/nation_logo.png' %}" alt="" /> <span class="">BNIA.</span>
          </a>
        </h3>
        </div>
          
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="header-top-menu" style="margin-top: 20px">
          <ul class="nav navbar-nav notika-top-nav">
            <li class="nav-item"><a style="font-size: medium">Nation Administrator |</a></li>
            <li class="nav-item">
              <a style="font-size: medium"
                class="dropdown-toggle text-sm"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {% if user.profilePicture %}
                <img class="avatar" src="{{user.profilePicture.url}}" alt="" />
                {% else %}
                <i class="fa fa-user"></i>
                {% endif %}
                <span class="">{{user.first_name}}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right triger-fadeIn-dp"
              aria-labelledby="userDropdown"
              role="menu">
                <li>
                  <a class="dropdown-item" href="{% url 'adm_profile' %}" style="font-size: medium">
                    <i class="fa fa-user"></i> Profile
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'staff_logout' %}" style="font-size: medium">
                    <i class="fa fa-sign-out"></i> Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
