{% load static %}
<div class="header">
  <div class="header-left">
    <div class="menu-icon dw dw-menu"></div>
    <div class="container mx-4">
      <h4>National Administrator</h4>
    </div>
  </div>
  <div class="header-right">
    <div class="dashboard-setting user-notification">
      <div class="dropdown">
        <a
          class="dropdown-toggle no-arrow"
          href="javascript:;"
          data-toggle="right-sidebar"
        >
          <i class="dw dw-settings2"></i>
        </a>
      </div>
    </div>
    <div class="user-info-dropdown">
      <div class="dropdown">
        <a
          class="dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
        >
          <span class="user-icon">
            {% if user.profilePicture %}
            <img src="{{user.profilePicture.url}}" alt="" />
            {% else %}
            <img
              src="{% static 'staff/vendors/images/anonymous.png' %}"
              alt=""
            />
            {% endif %}
          </span>
          <span class="user-name">{{user.first_name}} {{user.last_name}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
          <a class="dropdown-item" href="{% url 'adm_profile' %}"
            ><i class="dw dw-user1"></i> Profile</a
          >
          <a class="dropdown-item" href="{% url 'staff_logout' %}"
            ><i class="dw dw-logout"></i> Log Out</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
